pkgbase = cirno-catch-frog
	pkgdesc = Touhou fan game made with Godot. Let's help Cirno catch frogs!
	pkgver = 1.0.3
	pkgrel = 2
	url = https://edisonlee55.itch.io/cirno-catch-frog
	arch = x86_64
	license = custom
	makedepends = gendesk
	options = !strip
	options = !debug
	source = https://cdn.edisonlee55.com/projects/cirno-catch-frog/releases/v1.0.3/CirnoCatchFrog-Linux_x86_64-1.0.3.zip
	source = https://cdn.edisonlee55.com/projects/cirno-catch-frog/releases/v1.0.3/cirno-catch-frog_icon.png
	sha256sums = c2c51cd5dcd591a4f5dee6e80e9e480e09a19719a4e8202db79517d2092d4963
	sha256sums = 1f8ffa3dee9b46a9115ae90efd9cc12b5d66ec6bf3049c4e9ff010f1dd711c82

pkgname = cirno-catch-frog
